

body{
    background-color:#071521;

}

.Chat{
    display:inline-block;
    margin-left:1vw;
}
.roomCount{
    display:inline-block;
    margin-left:62vw;
}


.content{
    font-family:Helvetica;
    color:#D7D6D6;
    width:80%;
    margin-left:5vw;
}

.messages{
    font-size:.86vw;
    overflow-y:scroll;
    overflow-x:hidden;
    height:30vw;
    border-style:solid;
    border-color: #102E4A;
    border-width:.1vw;
    border-radius:.5vw;
    display:flex;
    flex-direction:column-reverse;
    padding-top:1vw;
    padding-bottom:1vw;
}

.same_sender{
    margin-top:.25vw;
    margin-left:2.75vw;
}

.diff_sender{
    margin-top:.75vw;
}

.receivedBox{
    display:flex;
    justify-content:flex-start;
    max-width:100%;
}

.sentBox{
    display:flex;
    justify-content:flex-end;
    /*max-width:80%;*/
}

.sentMessage{
    /*margin-top:1vw;*/
    /*margin-bottom:1vw;*/
    margin-right:1vw;
    display:inline-block;
    border-style:solid;
    border-radius:.5vw;
    border-width:.1vw;
    padding-left:1%;
    padding-right:1%;
    background-color:#102E4A;
    border-color: #102E4A;
    max-width:80%;
    overflow-wrap:break-word;

}

.messProfileImg{
    border-radius:50%;
    height:2vw;
    margin-right:.25vw;
    margin-left:.5vw;
}

.receivedMessage{
    /*margin-top:1vw;*/
    /*margin-bottom:1vw;*/
    /*margin-left:.5vw;*/
    border-style:solid;
    border-radius:.5vw;
    display:inline-block;
    border-width:.1vw;
    padding-left:1%;
    padding-right:1%;
    background-color:#102E4A;
    border-color: #102E4A;
    overflow-wrap:break-word;
    max-width:80%;

}

.receivedMessageName{
    font-size: .8vw;
    color:#CC3F0C;
    font-weight:bold;
    margin-bottom:.5vw;
    margin-top:.1vw;
}


.sentMessageName{
    text-align:right;
    font-size:.8vw;
    color:#CC3F0C;
    font-weight:bold;
    margin-bottom:.5vw;
    margin-top:.1vw;
}

.send{
    margin-top:1vw;
}

.roomCount{
    font-weight:bold;
    color:#CC3F0C;
}


.form{
    height:4vw;
    display:flex;
    justify-content:flex-end;
}

.sendInput{
    font-family : Helvetica;
    background-color:#102E4A;
    color:#D7D6D6;
    border:solid .1vw #102E4A;
    border-radius:.5vw;
    width:30%;
    max-height:100%;
    margin-right:1vw;
    overflow-wrap:break-word;
    overflow-y:scroll;
}

.sendButton{
    height:50%;
    width: 8%;
    font-size:1vw;
}